DB_HOST=[YourHostHere]
DB_PORT=[YourPortHere]
DB_DATABASE=[YourDatabaseNameHere]
DB_USER=[YourUsernameHere]
DB_PASSWORD=[YourPasswordHere]

JWT_SECRET=[ClaveSecreta256BitsMinimo]
JWT_EXPIRATION=86400000

# Descomentar y rellenar para crear un usuario jefe al iniciar la aplicación (para evitar valores hardcodeados)
#JEFE_USERNAME=
#JEFE_EMAIL=
#JEFE_PASSWORD=